@font-face {
  font-family: "Materifal Icons";
  src: url('MaterialIcons-Regular.ttf') format('truetype'),
       url('MaterialIconsOutlined-Regular.otf') format('opentype'),
       url('MaterialIconsRound-Regular.otf') format('opentype'),
       url('MaterialIconsSharp-Regular.otf') format('opentype'),
       url('MaterialIconsTwoTone-Regular.otf') format('opentype')
}

.iconfont {
  font-family: "Materifal Icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-zuhe:before {
  content: "\eaeb";
}

.icon-biaoge:before {
  content: "\e3ec";
}

.icon-shanchu:before {
  content: "\e872";
}

.icon-shangyi:before {
  content: "\e5d8";
}

.icon-xiayi:before {
  content: "\e5db";
}

.icon-kongwujiaoxing:before {
  content: "\e838";
}

.icon-xingzhuang-sanjiaoxing:before {
  content: "\e86b";
}

.icon-24gl-circle:before {
  content: "\ef4a";
}

.icon-ziyouquxian:before {
  content: "\f757";
}

.icon-zhixian:before {
  content: "\f108";
}

.icon-xiangyouxuanzhuan:before {
  content: "\e5d5";
}

.icon-tupian:before {
  content: "\e3f4";
}

.icon-suo:before {
  content: "\e897";
}

.icon-juxing:before {
  content: "\eb54";
}

.icon-wenben:before {
  content: "\e262";
}

.icon-button:before {
  content: "\f1c1";
}

.icon-shurukuang:before {
  content: "\e890";
}

